@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s linear;
    outline: none;
}

*::selection{
    background-color: #EB7D24;
    color: #fff;
}

body{
    font-family: 'Open Sans', sans-serif;;
}

/* start header */
header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    background-image: url(./images/fitnessbg.jpeg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 85%, 51% 100%, 0 85%, 0 0);
}

nav{
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

nav .logo{
    font-size: 3rem;
    cursor: pointer;
}

nav .logo span{
    color: #EB7D24;
}

nav .links{
    padding-left: 0;
}
nav .links li{
    display: inline-block;
    margin-left: 1rem;
    font-size: 1.5rem;
}

nav .links li a{
    color: #fff;
}

.links .active{
    color: #EB7D24;
}

nav .links li a:hover{
    color: #EB7D24;
}

header .content{
    display: flex;
    justify-content: center;
    align-content: center;
}

header .btn{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1.0rem;
    font-size: 1.5rem;
    background: transparent;
    border: 0.15rem solid white;
    color: white;
    margin-top: 4.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.btn:hover{
    background-color: #EB7D24;
    color: #fff;
    border: 0.3rem solid #EB7D24;
}

header .content h1{
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
    margin-top: 9 0px;
}

nav .open, .close{
    font-size: 1.8rem;
    color: #EB7D24;
    cursor: pointer;
    display: none;
}

@media (max-width:850px){
    nav .links{
        height: 25rem;
        width: 60%;
        position: fixed;
        top: 0;
        right: 0;
        border-radius: 1.2rem;
        background-color: #fff;
        display: none;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        z-index: 9999;
    }
    nav .links li{
        font-size: 1.8rem;
        margin: 0.5rem;
        padding: 0 0 0 50px;
    }
    nav .links li a{
        color: #000;
    }
    nav .open, nav .links .close{
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 1.8rem;
    }
    header .content h1{
        font-size: 6rem;
    }
}

/* About */

.about .row{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1% 6%;
}

.about .row .image{
    flex: 1 1 25rem;
    padding: 2rem;
}

.about .row .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .row .content{
    flex: 1 1 25rem;
    padding: 2rem;
    text-align: center;
}

.about .row .content h1{
    font-size: 2.5rem;
    color: #EB7D24;
    margin-bottom: 2.5rem;
}

.about .row .content p{
    line-height: 1.7;
    font-size: 1rem;
    margin-bottom: 1.2rem;
}

.about .row .content .btn{
    padding: 0.5rem 1.0rem;
    font-size: 1.5rem;
    background: transparent;
    border: 0.15rem solid #EB7D24;
    color: #EB7D24;
    margin-top: 1.2rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.about .row .content .btn:hover{
    background-color: #EB7D24;
    color: #fff;
}

/* start services */

.services{
    min-height: 100vh;
    text-align: center;
    padding: 2% 6%;
}

.services h1{
    font-size: 2.5rem;
    padding: 0.5rem;
    display: inline-block;
    color: #EB7D24;
    border-bottom: .2rem solid #EB7D24;
    margin-bottom: 1.8rem
}

.services .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.services .container .box{
    width: 20rem;
    height: 20rem;
    margin: .5rem;
    position: relative;
    overflow: hidden;
}

.services .container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services .container .box .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: bottom;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services .container .box:hover .info{
    transform: translate(-50%, -50%) scale(1);
}

.services .container .box .info .btn{
    /* top: 35%;
    left: 50%; */
    padding: 0.5rem 1.0rem;
    font-size: 1rem;
    background: transparent;
    border: 0.15rem solid #EB7D24;
    color: #EB7D24;
    margin-top: 1.2rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.services .container .box .info .btn:hover{
    background-color: #EB7D24;
    color: white;
}

.services .container .box .info h3{
    font-size: 1.4rem;
    color: #EB7D24;
    margin-bottom: 1rem;
}


.services .container .box .info p{
    line-height: 2;
    color: white;
    font-size: 1rem;
    padding: 0 1rem;
    margin-bottom: 1.2rem;
}

/* trainers */

.trainers{
    min-height: 100vh;
    text-align: center;
    padding: 2% 6%;
}

.trainers h1{
    font-size: 2.5rem;
    padding: 0.5rem;
    display: inline-block;
    color: #EB7D24;
    border-bottom: .2rem solid #EB7D24;
    margin-bottom: 1.8rem
}

.trainers p{
    font-size: 1.2rem;
    color: #333;
}

.trainers .items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.trainers .items .item{
    height: 40rem;
    width: 17rem;
    margin: 5rem 1rem 8rem;

}

.trainers .item img{
    width: 100%;
    height: 100%;
    border-radius: .6rem;
    object-fit: cover;
}

.trainers .item .inner{
    position: relative;
    z-index: 9999;
    padding: 0 1rem;
}

.trainers .item:hover{
    transform: translateY(-20px);
}

.trainers .item .inner .info{
    background-color: #EB7D24;
    padding: 1.2rem 1rem;
    border-radius: 0.6rem;
    margin-top: -2.5rem;
}

.trainers .item:hover .inner .info{
    transform: translateY(-30px);
}


.trainers .item .inner .info h4{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
    color: #000;
}

.trainers .item .inner .info p{
    font-size: 1.1rem;
    font-weight: 400;
    color: #000;
    margin-top: .5rem;
}

.trainers .item .inner .info .links{
    margin-top: 1rem;
}

.trainers .item .inner .info .links a{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #fff;
    border-radius:50%;
    color: #EB7D24;
    text-align: center;
    line-height: 2rem;
    margin-left: 0.3rem;
    font-size: 1.1rem;
}

.trainers .item .inner .info .links a:hover{
    box-shadow: 0 0 .6rem #000;
}

/* plan */

.pricing_table{
    min-height: 100vh;
    text-align: center;
    padding: 2% 6%;
}

.pricing_table h1{
    font-size: 2.5rem;
    padding: 0.5rem;
    display: inline-block;
    color: #EB7D24;
    border-bottom: .2rem solid #EB7D24;
    margin-bottom: 2.2rem
}

.pricing_table .pricing_card{
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.pricing_card .pricing_box{
    width: 25rem;
    box-shadow: 2px 2px 6px #000;
    margin-bottom: 4rem;
}

.pricing_card .pricing_box:hover{
    transform: translateY(-30px);
}

.pricing_box h2{
    font-size: 2rem;
    margin-bottom: 3rem;
    background-color: #EB7D24;
    padding: 1.2rem;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.pricing_box h3{
    margin-top: 2rem;
    font-size: 3rem;
    color: #EB7D24;
}

.pricing_box h3 sup{
    font-size: 2rem;
}

.pricing_box h3 span{
    font-size: 2.5rem;
}

.pricing_box p{
    font-size: 2.5rem;
    color: #333;
}


.pricing_box ul li{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.pricing_box .btn{
    padding: 0.5rem 1.0rem;
    font-size: 1rem;
    background: transparent;
    border: 0.15rem solid #EB7D24;
    color: #EB7D24;
    margin: 1.2rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.pricing_box .btn:hover{
    background-color: #EB7D24;
    color: #fff;
}

/* register */

.register{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./images/register.jpeg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.register .btn{
    padding: 0.5rem 1.0rem;
    font-size: 1rem;
    background: transparent;
    border: 0.15rem solid #EB7D24;
    color: #EB7D24;
    margin: 1.2rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.register .btn:hover{
    background-color: #EB7D24;
    color: white;
}

.register h1{
    font-size: 2.5rem;
    padding: 0.5rem;
    display: inline-block;
    color: #EB7D24;
    border-bottom: .2rem solid #EB7D24;
    margin-bottom: 2.2rem
}

.register form{
    padding: 2% 6%;
    margin: 0 auto;
}

.register form .input_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.register form .input_box input,textarea{
    height: 2rem;
    width: 49%;
    background-color: transparent;
    color: #ddd;
    padding: 2.3rem 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    border-radius: 1px solid #ddd;
}

.register form textarea{
    height: 20rem;
    width: 100%;
    resize: none;
    padding: 1rem;
}

@media (max-width:1100px){
    .register form .input_box input{
        width: 100%;
    }
}

/* footer */

footer{
    color: #fff;
    padding: 2rem;
    text-align: center;
    background-color: #333;
    font-size: 1.2rem;
}




























